body {
    background-image: linear-gradient(rgb(129, 129, 224), rgb(129, 188, 224));
    background-repeat: repeat-x;
}

div {
    padding: 10px;
}

label {
    width: 200px;
    display: inline-block;
}

input[type=image] {
    border: 1px solid black;
    height: 150px;
    width: 150px;
}

.subform {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
}

input[type=text] {
    border: 1px solid black;
}

input[type=text]:read-only {
    background-color: rgb(180, 180, 180);
}
